.App {
  text-align: center;
  justify-content: center;
}
.main-view{
  margin: 20px;
  padding: 20px;
  position: relative;
  z-index: 2;
  background-color: #9DAAF2;
}

.grid{
  display: grid;
}
.flex{
  display: flex;
}
.none{
  display: none;
}
