.App {
  text-align: center;
  justify-content: center;
}

.game-view{
  background-color: white;
  border-radius: 8px;
  margin: 20px;
  padding: 20px;
  position: relative;
  z-index: 2;
}

.grid{
  display: grid;
}
.flex{
  display: flex;
}
.none{
  display: none;
}
